.body{
    background-color: rgb(255, 239, 219);
    font-family: montserrat;
    text-align: center;
    justify-content: center;
}

.card-body{
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(179, 167, 153);
    padding: 30px;
    margin-top: 10px;
    margin-left: 40%;
    margin-right: 200px;
    text-align: center;
    width: 400px;
    height: 720px;
}
.ul{
    display: inline-block;
    text-align: left;
}
.image{
    width: 30%;
}
.header{
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(179, 167, 153);
}
.image-wrap{
    padding-bottom: 20px;
}